body{
	background-image: linear-gradient(to bottom right, #88becf, #218581, #147285, #0b3542);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
}
.topnav{
	background-color: #142024;
	margin-top: -38px;
	margin-left: -10px;
	width: 105%;
	font-size: 25px;
	height: 50%;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 8px grey;
	overflow: hidden;
	display: block;
}
.topnav a {
  	float: left;
 	display: block;
 	color: #f2f2f2;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
 	font-size: 20px;
 	margin-left: auto;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav .icon {
  display: none;
}
.sidenav {
  height: 99%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f6194;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 5px;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 0.7vw;
}

::-webkit-scrollbar-track{
  opacity: 0.1;
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background: #f5f9ff; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #68d2d4; 
}
#myMenu{
	text-decoration: none;
	list-style-type: none;
	margin-left: -20%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: Bold Italic;
  display: block;
  transition: 0.3s;
  text-shadow: 3px 3px 8px black;
  color: white;
}
.sidenav a:hover {
  color: darkgray;
}
#mySearch {
  width: 80%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 5%;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 1px;
  color: white;
}
#first{
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 8px grey;
}
a:hover{
	color: #424242;
}
#hmbttn{
	max-height: 50px;
	margin-bottom: 30%;
	margin-left: 70%;
}
h1{
	color: white;
	text-shadow: 3px 3px 1px #21ad99;
	font-size: 4vw;
	position: absolute;
	float: left;
	margin-left: 3%;
	top: 20px;
	animation-duration: 2.5s;
	animation: h1 1.5s ease forwards;
}
@keyframes h1{
	0%{transform: translatey(10px); color: transparent; text-shadow: none;}
	20%{color: transparent; text-shadow: none;}
	50%{color: transparent; text-shadow: none;}
	100%{transform: translateY(15%);}
}
#by{
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 1.7vw;
	position: absolute;
	float: left;
	top: 62px;
	left: 24%;
	animation: h1 2s ease forwards;
}
#Mlyrics{
	width: 60%;
	margin-left: 1%;
	margin-top: -15%;
	text-align: justify;
	font-size: 2vw;
	animation: h1 2s ease forwards;
}
@keyframes Mlyrics{
	0%{transform: translateY(-10%); color: transparent; text-shadow: none;}
	20%{color: transparent; text-shadow: none;}
	45%{letter-spacing: -0.1px;}
	100%{transform: translateY(1%);}
}
#space{
	margin-top: -2.5%;
	font-weight: 500;
	color: #1a1a1a;
}
#indicator{
	color: white;
	font-weight: 900;
	animation: h1 3s ease forwards;
}
@keyframes indicator{
	0%{transform: translateY(-10%); color: transparent; text-shadow: none;}
	20%{color: transparent; text-shadow: none;}
	45%{letter-spacing: -0.1px;}
	100%{transform: translateY(1%);}
}
#img1{
	width: auto;
	height: 330px;
	float: left;
	border-radius: 15px;
	animation: img1 1.5s ease forwards;
	pointer-events: none;
}
#img2{
	width: auto;
	height: 330px;
	float: right;
	position: absolute;
	border-radius: 15px;
	top: 30%;
	right: 20%;
	animation: img2 1.5s ease forwards;
	pointer-events: none;
}
#img{
	height: 60%;
	width: 35%;
	right: 0px;
	top: 100px;
  position: -webkit-sticky;
  position: sticky;
  float: right;
}
@keyframes img1{
	50%{transform: translateX(-5%) translateY(-3%);}
	100%{transform: translateX(0%);}
}
@keyframes img2{
	50%{transform: translateX(5%) translateY(3%);}
	100%{transform: translateX(0%);}
}
