body{
	background-image: linear-gradient(to bottom right, #88becf, #218581, #147285, #0b3542);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	user-select: none;
}
.topnav{
	background-color: #142024;
	margin-top: -38px;
	margin-left: -10px;
	width: 105%;
	font-size: 25px;
	height: 50%;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 8px grey;
	overflow: hidden;
	display: block;
}
.topnav a {
  	float: left;
 	display: block;
 	color: #f2f2f2;
 	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
 	font-size: 20px;
 	margin-left: auto;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav .icon {
  display: none;
}
.sidenav {
  height: 99%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f6194;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 5px;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 0.7vw;
}

::-webkit-scrollbar-track{
  opacity: 0.1;
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background: #f5f9ff; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #68d2d4; 
}
#myMenu{
	text-decoration: none;
	list-style-type: none;
	margin-left: -20%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: Bold Italic;
  display: block;
  transition: 0.3s;
  text-shadow: 3px 3px 8px black;
  color: white;
}
.sidenav a:hover {
  color: darkgray;
}
#mySearch {
  width: 80%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 5%;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 1px;
  color: white;
}
#first{
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 8px grey;
}
a:hover{
	color: #424242;
}
@keyframes h1{
	0%{transform: translatey(10px); color: transparent; text-shadow: none;}
	20%{color: transparent; text-shadow: none;}
	50%{color: transparent; text-shadow: none;}
	100%{transform: translateY(15%);}
}
@keyframes text{
	0%{transform: translateY(-100px); color: transparent; text-shadow: none;}
	20%{color: transparent; text-shadow: none;}
	45%{letter-spacing: -0.1px;}
	100%{transform: translateY(15%);}
}
h1{
	color: white;
	text-shadow: 3px 3px 1px #21ad99;
	margin-left: 12%;
	margin-top: -20px;
	letter-spacing: 3px;
	font-size: 5vw;
	font-family: Bold Italic;
	animation-duration: 2.5s;
	animation: h1 1.5s ease forwards;
	position: absolute;
	user-select: none;
}
.text{
	color: #e0e0e0;
	text-shadow: 1px 1px 1px dimgray;
	font-size: 1.5vw;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: -1.5%;
	top: 50%;
	width: 65%;
	letter-spacing: 1.5px;
	position: absolute;
	animation: text 2s ease forwards;
	user-select: none;
}
#img1{
	width: auto;
	height: 90%;
	float: left;
	border-radius: 15px;
	animation: img1 4s ease forwards;
	pointer-events: none;
}
#img2{
	width: auto;
	height: 90%;
	float: right;
	position: absolute;
	border-radius: 15px;
	top: 30%;
	right: 20%;
	animation: img2 4s ease forwards;
	pointer-events: none;
}
#img{
	position: absolute;
	height: 60%;
	width: 35%;
	right: 0px;
	top: 100px;
}
@keyframes img1{
	0%{opacity: 0.0;}
	50%{transform: translateX(-5%) translateY(-3%);}
	100%{transform: translateX(0%); opacity: 1;}
}
@keyframes img2{
	0%{opacity: 0.0;}
	50%{transform: translateX(5%) translateY(3%);}
	100%{transform: translateX(0%); opacity: 1;}
}
@media only screen and (max-width: 800px) {
	body{
		overflow: hidden;
	}
	h1{
		text-align: center;
		top: 15%;
		font-size: 10vw;
		left: 3%;
	}
	#welc{
	}
	.text{
		text-align: center;
		font-size: 10px;
		top: 0%;
		left: 13%;
		width: 80%;
	}
	#intro{
		margin-top: -5%;
	}
	#img{
		position: absolute;
		top: 60%;
		left: 15%;
		width: 90%;
		height: 35%;
	}
	#img1{
		width: auto;
		height: 80%;
		display: block;
		position: absolute;
		top: -10%;
		left: 10%;
	}
	#img2{
		width: auto;
		height: 80%;
		top: 10%;
		left: 38%;
		display: block;
		position: absolute;
	}
	@keyframes img1{
	0%{opacity: 0.0;}
	50%{transform: translateX(-3%) translateY(-2%);}
	100%{transform: translateX(0%); opacity: 1;}
	}
	@keyframes img2{
		0%{opacity: 0.0;}
		50%{transform: translateX(3%) translateY(2%);}
		100%{transform: translateX(0%); opacity: 1;}
	}
	.sidenav a{
		font-size: 20px;
	}
	.closebtn{
		font-size: 35px;
		left: -10%;
	}
}
@media only screen and (max-width: 1400px) {
	body{
		overflow: hidden;
	}
	h1{
		font-size: 6vw;
		
	}
	.text{
		font-size: 25px;
		top: 40%;
		left: 10%
	}
	#intro{
	}
	#img{	
	}
	#img1{
	}
	#img2{
	}
	.closebtn{
		font-size: 40px;
		left: -10%;
	}
}
#hmbttn{
	max-height: 50px;
	margin-bottom: 30%;
	margin-left: 70%;
}
